In [20]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [21]:
import os
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from matplotlib import rc

def set_font(font_file='malgun.ttf'): # 한글 출력
    font_dir = 'c:/Windows/Fonts/'
    font_name = fm.FontProperties(fname=os.path.join(font_dir, font_file)).get_name()
    rc('font', family=font_name)
set_font()

In [22]:
data=pd.read_csv('train_boxcox.csv',encoding='cp949')

In [23]:
data.head()

,Unnamed: 0,교차로명,cctv,sign,speed,peek_speed,car,bus,truck,type,school,roundabout,accident,person,위도,경도,boxcox_peek_speed
0,1,가덕지구대3,0,0,58.72,49.65,1587,36,419,3지,0,0,0,0,36.561536,127.541219,0.689801
1,2,가마육교4,0,0,29.60,19.05,9683,110,1618,4지,0,0,4,7,36.596090,127.471779,0.682454
2,3,강내월곡4,0,0,56.98,48.99,2610,113,1179,4지,0,0,6,13,36.624493,127.369452,0.689753
3,4,강내탑연3,0,0,56.98,48.99,2610,113,1179,3지,0,0,4,5,36.623910,127.358570,0.689753
4,5,강외서평3,0,0,35.29,15.31,14712,222,3193,3지,0,0,2,4,36.605214,127.309905,0.678815

In [24]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [25]:
model = data.drop(['위도','경도'],axis=1)

# 사고 건 수

In [26]:
model.head(10)

,교차로명,cctv,sign,speed,peek_speed,car,bus,truck,type,school,roundabout,accident,person,boxcox_peek_speed
0,가덕지구대3,0,0,58.72,49.65,1587,36,419,3지,0,0,0,0,0.689801
1,가마육교4,0,0,29.60,19.05,9683,110,1618,4지,0,0,4,7,0.682454
2,강내월곡4,0,0,56.98,48.99,2610,113,1179,4지,0,0,6,13,0.689753
3,강내탑연3,0,0,56.98,48.99,2610,113,1179,3지,0,0,4,5,0.689753
4,강외서평3,0,0,35.29,15.31,14712,222,3193,3지,0,0,2,4,0.678815
5,개신5,0,1,59.68,35.00,11359,502,4095,5지,0,0,10,16,0.688186
6,김수녕양궁장5,0,1,60.25,40.22,13487,373,4467,5지,0,0,3,3,0.688927
7,남이외천3,1,0,29.60,19.05,9683,110,1618,3지,0,0,1,3,0.682454
8,남이초교3,1,1,29.60,19.05,9683,110,1618,3지,1,0,1,7,0.682454
9,남일고은4,0,0,31.90,21.88,7600,63,947,4지,0,0,1,1,0.684232

In [27]:
circle_idx = model[model.교차로명.str.contains('회전교차로')].index

In [28]:
before = model.drop(index=circle_idx,axis=0)['accident']

In [30]:
model = model.set_index('교차로명')

In [31]:
train = pd.get_dummies(model)

In [33]:
train.drop(['speed','peek_speed','car','bus','truck','person'],axis=1,inplace=True)

In [34]:
test = pd.read_csv('test_boxcox.csv',encoding='cp949')
test.head()

,교차로명,cctv,sign,speed,peek_speed,car,bus,truck,type,school,roundabout,accident,person,boxcox_peek_speed
0,가덕지구대3,0,0,58.72,49.65,1587,36,419,3지,0,1,0,5,0.664240
1,가마육교4,0,0,29.60,19.05,9683,110,1618,4지,0,1,4,1,0.658152
2,강내월곡4,0,0,56.98,48.99,2610,113,1179,4지,0,1,6,42,0.664202
3,강내탑연3,0,0,56.98,48.99,2610,113,1179,3지,0,1,4,11,0.664202
4,강외서평3,0,0,35.29,15.31,14712,222,3193,3지,0,1,2,1,0.655052

In [35]:
test_name = test['교차로명']

In [36]:
test=test.set_index('교차로명')

In [37]:
test = pd.get_dummies(test)

In [41]:
test.drop(['speed','peek_speed','car','bus','truck','person'],axis=1,inplace=True)

In [42]:
train_x = train.drop('accident',axis=1)
train_y = train['accident']

In [48]:
test_x = test.drop('accident',axis=1)

In [51]:
from sklearn.linear_model import LinearRegression
lin = LinearRegression()
lin.fit(train_x,train_y)
pred = lin.predict(test_x)

In [55]:
score_table=pd.DataFrame({'교차로명':test_name,'before':before})
score_table['linear_pred'] = pred
# score_table.to_csv('linear_pred_accident.csv',index=False)

# 사상자 수

In [88]:
data=pd.read_csv('train_boxcox.csv',encoding='cp949')
test = pd.read_csv('test_boxcox.csv',encoding='cp949')
test.head()

,교차로명,cctv,sign,speed,peek_speed,car,bus,truck,type,school,roundabout,accident,person,boxcox_peek_speed
0,가덕지구대3,0,0,58.72,49.65,1587,36,419,3지,0,1,0,5,0.664240
1,가마육교4,0,0,29.60,19.05,9683,110,1618,4지,0,1,4,1,0.658152
2,강내월곡4,0,0,56.98,48.99,2610,113,1179,4지,0,1,6,42,0.664202
3,강내탑연3,0,0,56.98,48.99,2610,113,1179,3지,0,1,4,11,0.664202
4,강외서평3,0,0,35.29,15.31,14712,222,3193,3지,0,1,2,1,0.655052

In [89]:
data.drop('Unnamed: 0',axis=1,inplace=True)
model = data.drop(['위도','경도'],axis=1)

In [90]:
circle_idx = model[model.교차로명.str.contains('회전교차로')].index
before = model.drop(index=circle_idx,axis=0)['person']

In [91]:
model = model.set_index('교차로명')

train = pd.get_dummies(model)

train.drop(['speed','peek_speed','car','bus','truck','accident'],axis=1,inplace=True)

In [92]:
train.head()

,cctv,sign,school,roundabout,person,boxcox_peek_speed,type_3지,type_4지,type_5지,type_6지
교차로명,,,,,,,,,,
가덕지구대3,0,0,0,0,0,0.689801,1,0,0,0
가마육교4,0,0,0,0,7,0.682454,0,1,0,0
강내월곡4,0,0,0,0,13,0.689753,0,1,0,0
강내탑연3,0,0,0,0,5,0.689753,1,0,0,0
강외서평3,0,0,0,0,4,0.678815,1,0,0,0

In [93]:
test_name = test['교차로명']

test=test.set_index('교차로명')

test = pd.get_dummies(test)

test.drop(['speed','peek_speed','car','bus','truck','accident'],axis=1,inplace=True)

train_x = train.drop('person',axis=1)
train_y = train['person']


test_x = test.drop('person',axis=1)

In [94]:
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
rf = RandomForestRegressor()
gra = GradientBoostingRegressor()
rf.fit(train_x,train_y)
gra.fit(train_x,train_y)
rf_pred = rf.predict(test_x)
gra_pred = gra.predict(test_x)

In [95]:
person_table=pd.DataFrame({'교차로명':test_name,'before':before})
person_table['rf_pred'] = rf_pred
person_table['gra_pred'] = gra_pred

In [96]:
person_table['avg'] = (person_table['rf_pred'] + person_table['gra_pred'])/2

In [97]:
person_table['avg'] = np.ceil(person_table['avg'])

In [100]:
# person_table.to_excel('person_table_pred.xlsx',index=False)

In [102]:
person_table

        교차로명  before   rf_pred   gra_pred   avg  lin_pred
0     가덕지구대3       0  3.628889   5.012720   5.0 -4.539860
1      가마육교4       7  5.486389   5.224456   6.0 -0.055232
2      강내월곡4      13  5.486389   5.224456   6.0  1.064295
3      강내탑연3       5  3.628889   5.012720   5.0 -4.546977
4      강외서평3       4  3.628889   5.012720   5.0 -6.240207
..       ...     ...       ...        ...   ...       ...
64      터미널4      25  6.031333   7.451250   7.0  1.890179
65  하이닉스반도체4      20  6.031333   7.451250   7.0  1.893008
66   현도면사무소3      10  8.086333  13.628384  11.0  9.956995
67    효촌분기점3       3  3.628889   5.012720   5.0 -5.389157
68       흥덕4       0  5.486389   5.224456   6.0  0.814528

[69 rows x 6 columns]